exportPattern("^[[:alpha:]]+")
export("AvailableData")
export("InstallPrecomputedFingerprints")
export("LoadPrecomputedFingerprints")
export("ConvertGenes")
import(org.Hs.eg.db)
importFrom(AnnotationDbi,mapIds)
importFrom(SeuratObject,CreateSeuratObject)
importFrom(SeuratObject,SetAssayData)
